<footer class="bg-black text-white py-6 mt-10">
    <div
        class="container mx-auto px-6 md:px-20 flex flex-col md:flex-row items-center justify-between"
    >
        <p class="text-sm">
            &copy; 2025 Studio Tecnico De Flaviis - Tutti i diritti riservati.
        </p>
        <div class="flex space-x-4 mt-3 md:mt-0">
            <a href="#" class="text-[var(--verde)] hover:text-[var(--rosso)]"
                >LinkedIn</a
            >
            <a href="#" class="text-[var(--verde)] hover:text-[var(--rosso)]"
                >Facebook</a
            >
            <a href="#" class="text-[var(--verde)] hover:text-[var(--rosso)]"
                >Instagram</a
            >
        </div>
    </div>
</footer>
