---
import logo from './../../public/images/no-sfondo.png'
---

<header class="fixed top-0 w-full bg-white shadow-sm z-50">
    <div class="container mx-auto flex items-center justify-between p-4">
        <div class="flex items-center space-x-3">
            <a href="/">
            <img src={logo.src} alt="Logo Studio De Flaviis" class="w-12" />
            </a>
            <span class="font-bold text-xl text-black"
                >Studio Tecnico De Flaviis</span
            >
        </div>
        <nav class="hidden md:flex space-x-6 text-sm font-medium">
            <a href="#chi-siamo" class="hover:text-[var(--rosso)]">Chi siamo</a>
            <a href="#servizi" class="hover:text-[var(--rosso)]">Servizi</a>
            <a href="#progetti" class="hover:text-[var(--rosso)]">Esperienza</a>
            <a href="#contatti" class="hover:text-[var(--rosso)]">Contatti</a>
        </nav>
    </div>
</header>
